.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu {

  background-image: url('./img/vol.png') ;
  background-position-x: left ;
  background-position-y: bottom;
  background-size: 86px;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;

}
.menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 2em;
  padding-top: 1em;
}
header{
  background-image: url('./img/lineLogo.png') ;
  background-position-x:  50%;
  background-position-y: bottom  ;
  background-size: auto;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;

}
.headerLine{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding-bottom: 4em;
  text-align: center;

}


.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 19em;
}

.works{
  display: flex;
  justify-content: space-evenly;
}

.work{
  border: 0.3em solid #84be19;
  border-radius: 50%;

}